<div class="bg-purple-100 grid text-center gap-6 py-8 rounded-xl lg:h-full lg:px-8 lg:py-14 lg:text-start lg:relative lg:overflow-hidden">
    <h2 
    class="text-[1.5rem] font-dmSansMedium font-semibold leading-6 tracking-tight lg:tracking-tighter lg:text-[2rem] lg:max-w-full">Schedule to social media.</h2>
    <img src="illustration-schedule-posts.webp" alt="" class="max-w-[90%] m-auto lg:min-w-[360px] lg:absolute lg:top-[132px] lg:left-[33px]">
    <p class="font-dmSans text-lg font-semibold leading-5 px-6 lg:px-0 lg:pt-[21.75rem]">Optimize post timings to publish content at the perfect time for your audience.</p>
</div>
