<div class="bg-yellow-100 rounded-xl grid place-items-start gap-6 pl-8 py-7 lg:min-h-[420px] lg:place-items-center lg:gap-1 lg:py-16 lg:pl-0">
    <h2 class="text-[1.9rem] font-dmSansMedium font-semibold leading-7 tracking-tight lg:text-[2.25rem] lg:leading-9 lg:font-normal lg:pl-8 lg:tracking-tighter">Create and schedule content <span class="font-dmSansMediumItalic text-purple-500">quicker</span></h2>
    <img src="illustration-create-post.webp" alt="" class="max-w-[190px] self-start">
</div>

